<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<context>
    <gnuplotPath>auto</gnuplotPath>
    <imgFolder>results/pictures</imgFolder>
	<competitionFolder>results/tournament</competitionFolder>
	<tempFolder>results/temp</tempFolder>
	<parallelTasks>false</parallelTasks>
	<parallelGrid>true</parallelGrid>
</context>