<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<context>
	<!--<gnuplotPath>auto</gnuplotPath>-->
	<gnuplotPath>C:\Program Files\gnuplot\bin\gnuplot.exe</gnuplotPath>

    <parallelTasks>false</parallelTasks>
	<parallelGrid>true</parallelGrid>
    <tempFolder>results/temp</tempFolder>

    <calculationsResultFolder>results/data</calculationsResultFolder>
    <imgFolder>results/pictures</imgFolder>
    <competitionFolder>results/tournament</competitionFolder>
    <writeGnuplotScripts>false</writeGnuplotScripts>
</context>