<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<context>
    <gnuplotPath>c:\cygwin64\bin\gnuplot.exe</gnuplotPath>
    <imgFolder>result\pictures</imgFolder>
	<competitionFolder>result\tournament</competitionFolder>
	<tempFolder>result\temp</tempFolder>
	<parallel>true</parallel>
</context>